// 主题名称
$theme-name: 'element';
// 主题背景颜色
$theme-bg-color: #314255;
// 主题背景图片遮罩
$theme-bg-mask: rgba(#000, 0);

// 消息提示
$theme-message-info-background-color: #FFFFFF;
$theme-message-info-text-color: #202D3D;
$theme-message-info-border-color: #202D3D;

// container组件
$theme-container-background-color: rgba(#FFF, 1);
$theme-container-header-footer-background-color: #FFF;
$theme-container-border-inner: 1px solid #CFD7E5;
$theme-container-border-outer: 1px solid #011527;

$theme-multiple-page-control-color: #BFCBD9;
$theme-multiple-page-control-color-active: #46A0FC;
$theme-multiple-page-control-nav-prev-color: #BFCBD9;
$theme-multiple-page-control-nav-next-color: #BFCBD9;
$theme-multiple-page-control-border-color: #011527;
$theme-multiple-page-control-border-color-active: #FFFFFF;
$theme-multiple-page-control-background-color: #212D3D;
$theme-multiple-page-control-background-color-active: #FFFFFF;

// 顶栏和侧边栏中展开的菜单 hover 状态下
$theme-menu-item-color-hover: #BFCBD9;
$theme-menu-item-background-color-hover: #011527;

// 顶栏上的文字颜色
$theme-header-item-color: #BFCBD9;
$theme-header-item-background-color: transparent;
// 顶栏上的项目在 hover 时
$theme-header-item-color-hover: #BFCBD9;
$theme-header-item-background-color-hover: #011527;
// 顶栏上的项目在 focus 时
$theme-header-item-color-focus: #BFCBD9;
$theme-header-item-background-color-focus: #202D3D;
// 顶栏上的项目在 active 时
$theme-header-item-color-active: #46A0FC;
$theme-header-item-background-color-active: #202D3D;

// 侧边栏上的文字颜色
$theme-aside-item-color: #BFCBD9;
$theme-aside-item-background-color: transparent;
// 侧边栏上的项目在 hover 时
$theme-aside-item-color-hover: #BFCBD9;
$theme-aside-item-background-color-hover: #011527;
// 侧边栏上的项目在 focus 时
$theme-aside-item-color-focus: #BFCBD9;
$theme-aside-item-background-color-focus: #202D3D;
// 侧边栏上的项目在 active 时
$theme-aside-item-color-active: #46A0FC;
$theme-aside-item-background-color-active: #202D3D;

// 侧边栏菜单为空的时候显示的元素
$theme-aside-menu-empty-icon-color: #BFCBD9;
$theme-aside-menu-empty-text-color: #BFCBD9;
$theme-aside-menu-empty-background-color: #202D3D;
$theme-aside-menu-empty-icon-color-hover: #46A0FC;
$theme-aside-menu-empty-text-color-hover: #46A0FC;
$theme-aside-menu-empty-background-color-hover: #202D3D;

// 修改表头背景颜色
//.el-table th {
//  background-color: #304156;
//  color: #bfcbd9;
//}

// 修改表格高度
.el-table--mini td,
.el-table--mini th {
  padding: 2px 0;
}

.el-dialog {
  margin-bottom: 0;
}

// 弹窗主体
.el-dialog__body {
  padding: 10px 20px 20px 20px;
}

// 弹窗底部
.el-dialog__footer {
  padding: 0;
}

// 按钮样式
.el-button {
  border-radius: 0;
  padding: 8px 10px;
}

// 输入框
.el-input__inner {
  height: 36px;
  border-radius: 0;
}

.el-form--label-left .el-form-item__label {
  text-align: right;
}

.el-form-item__label {
  line-height: 36px;
}

.el-form-item__content {
  line-height: 36px;
}

.is-bottom .el-tabs__active-bar {
  top: 0;
}

// 分配权限弹窗的菜单树
.assignRightDialog .el-tree-node__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 34px;
  cursor: pointer;
}

.assignRightDialog .el-tabs__content {
  max-height: 560px;
  overflow: auto;
}

// 数字输入
.el-input-number--mini {
  width: 130px;
}

.el-input-number .el-input__inner {
  padding-left: 3px;
  padding-right: 3px;
}

.mini-number .el-input-number--mini.is-without-controls {
  width: 50px;
}

.mini-number .el-input-number.is-without-controls .el-input__inner {
  padding-left: 3px;
  padding-right: 3px;
}

.mini-number .el-input-number--mini.is-controls-right {
  width: 80px;
}

.mini-number .el-input-number.is-controls-right .el-input__inner {
  padding-left: 3px;
  padding-right: 30px;
}

// tag标签
.el-tag {
  margin-right: 6px;
}

.d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full .d2-container-full__body {
  overflow: visible;
}

// 抽屉弹窗的右上角关闭按钮的样式
.el-drawer__header {
  margin-bottom: 0;
  padding: 5px 3px 4px;
}

.ruleAddDialog .el-input-group__append,
.el-input-group__prepend {
  background-color: #F5F7FA;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  width: 1px;
  white-space: nowrap;
  padding: 0;
  border: 0;
}

.ruleAddDialog .version .el-input__inner {
  border: 0;
}

.ruleAddDialog .version .el-input-group {
  border: 1px solid #DCDFE6;
}

// 来电通知弹窗的tab栏组件
.callNotification .el-tabs__nav {
  // max-height: 370px;
  // overflow-y: auto;
}

.callNotification .el-tabs__nav-scroll {
  overflow: hidden;
  max-height: 370px;
}